.container{
    display: grid;
    grid-template-columns: 2fr 1fr ;
}

main{
    padding: 0 10%;
}

main img{
    width: 65%;
}

aside{
    padding: 20px;

border-left:solid 1px;
}

aside h4{
text-align: center;
}

h1{
   color: var(--color2);
}

.cleber{
    height: 200px;
    text-align: center;
}

.cleber2{
    height: 200px;
    text-align: center;

}

.cont li{
   text-align: justify;
   padding:0 12px ;
}




@media screen and (max-width: 850px) {
    .container {
        grid-template-columns: 1fr ;
}

main img{
    width: 100%;
}

.cleber{
height: 150px;
}

.cleber2{
    height: 240px;
}

.baner{
    height: 210px;
}

}
